[Desktop Entry]
Type=Application
Name=Nostalgia Launcher
GenericName=Old-school WoW updater
Comment=Updater and mod manager for old-school WoW clients
Exec=NostalgiaLauncher
Icon=NostalgiaLauncher
Terminal=false
Categories=Game;Utility;
StartupNotify=false
StartupWMClass=NostalgiaLauncher
