[Desktop Entry]
Type=Application
Name=Octo Updater
GenericName=OctoWoW updater
Comment=Updater and mod manager for the OctoWoW client
Exec=OctoUpdater
Icon=OctoUpdater
Terminal=false
Categories=Game;Utility;
StartupNotify=false
StartupWMClass=OctoUpdater
